.session {
  margin: 10px 0;
  background-color: #ccc;
  border: 1px solid #999;
}

.session-title,
.session-content {
  padding: 10px;
}

.session-title {
  border-bottom: 1px solid #999;
}

.session-content {
  display: none;
}

.session.show .session-content{
  display: block;
}

table {
  text-align: center;
  margin-left: 15px;
  border-collapse: collapse;
}

td, th {
  min-width: 100px;
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
