<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <title>Choice Problem 1</title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main>
      <div class="total-amount-container">
        Total Amount: $<span id="total-amount">9.00</span>
      </div>
      <h1>Decision-making Game</h1>
      <h2>Choice Problem 1</h2>
      <div id="game">
        <div class="option-box" id="option-a">
          <h3>Option A</h3>
          <!-- <p class="value">0.25</p> -->
        </div>
        <div class="option-box" id="option-b">
          <h3>Option B</h3>
          <!-- <p class="value">0 or 1</p> -->
        </div>

        <div class="option-box final-decision" id="final-decision">
          <h3>Final Decision</h3>
          <p class="value">-</p>
        </div>
        <a class="button" id="confirm-decision" href="#">Confirm Decision</a>
        <br> <br>
        <a class="button" href="#">Next Choice Problem</a>
      </div>
    </main>

    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
