<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <title>Choice Problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main>
      <h1 id="page-title">Choice Problem </h1>
      <div class="total-amount-container">
        Total Amount: $<span id="total-amount">9</span>
      </div>
      <div id="game">
        <h2>Step 1</h2>
        <p>You may sample outcomes between option A or B until you are ready to make a decision</p>
        <button class="btn btn-lg btn-secondary" id="option-a">
          Option A
          <!-- <p class="value">0.25</p> -->
        </button>
        <button class="btn btn-lg btn-secondary" id="option-b">
          Option B
          <!-- <p class="value">0 or 1</p> -->
        </button>
        <br><br><br><br>
        <div id="final-choices">
          <h2>Step 2</h2>
          <p>Please make your final decision</p>
          <button class="btn btn-lg btn-secondary" id="option-a-final">
            Option A
          </button>
          <button class="btn btn-lg btn-secondary" id="option-b-final">
            Option B
            <!-- <p class="value">0 or 1</p> -->
          </button>
          <!-- <a class="button" id="confirm-decision" href="#">Make Actual Decision</a> -->
        </div>
        <br> <br><br>
        <a class="btn btn-lg btn-success disabled" id="next-problem" href="#">Next Choice Problem</a>
      </div>
    </main>

    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
