<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decision-making Game</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main class="instructions">
      <div class="total-amount-container">
        Total Amount: $<span id="total-amount"><%= doc.total_amount %></span>
      </div>
      <h1>Decision-making Game</h1>
      <h2>Thank You For Your Participation</h2>
      <a class="btn btn-lg btn-warn" href="/results">Experimenter</a>
    </main>
  </body>
</html>
