<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decision-making Game</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main class="instructions">
      <h3 style="margin-top: 15px;">Total Amount: $<span id="total-amount"></span></h3>
      <br />
      <h4><strong>Debrief</strong></h4>
      <p>This study is concerned with how regulatory focus orientation (See Higgins, 1997) might influence individuals’ decision-making behavior in a sampling paradigm (See Camilleri et al., 2011; Hertwig et al., 2004). Now that you have completed the study and know the goal of the study, you can choose to withdraw your data. There is no penalty for this. If you would like to withdraw your data or if you have any concerns about your rights as a participant in this experiment, please contact the principal investigator: James Corter, PhD, Teachers College <a href="cognitiontasks.com">cognitiontasks.com</a>.</p>
      <br />
      <h4>Please click the 'Submit' button below to complete this HIT.</h4>

    </main>

    <!-- <a class="btn btn-lg btn-warning" href="/results" style="position:absolute; bottom:15px; left:15px;">Experimenter</a> -->

    <script>
      var $totalAmount = document.getElementById('total-amount');
      var sessionId = localStorage.getItem('sessionId');
      console.log('sessionId:',sessionId )
      function getTotalAmount(){
        fetch("/get-total/?id="+sessionId, {
          method: "GET"
        }).then(function(response){
          return response.json();
        }).then(function(data) {
          $totalAmount.innerHTML = data.toFixed(2);
          console.log('total amount updated')
        })
        .catch(err => {
            throw err;
        });
      }

      getTotalAmount();

      // Mturk Iframe stuff
      let expIframe = window.parent;
      expIframe.postMessage("Task Completed", "*");
    </script>
  </body>
</html>
