<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decision-making Game</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main class="instructions">
      <h1>Decision-making Game</h1>
      <h2>Instructions</h2>
      <p>Welcome to this decision-making game. In this task, you will be presented with eight different choice problems, one at a time. On each problem, you will choose between two different options, using a two-step process. In step 1, you are allowed to try each option as many times as you wish, to gather information without earning or losing any money. Once you are ready to make a final decision, please move to step 2 and select your final option. You will receive $2.50 for completing the study, plus the amount of money you earn based on your decisions.
      </p>
      <a class="btn btn-lg btn-success" id="next-problem" href="choice-problem-1" >Play</a>
    </main>
  </body>
  <script type="text/javascript" src="js/instructions.js"></script>
  </html>
